
<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

      <%= f.label :name, "Username:" %><br>
      <%= f.text_field :name, class: "form-control" %>
    <br>
      <%= f.label :password, "Password:" %><br>
      <%= f.password_field :password, class: "form-control" %>
    <br>
      <%= f.submit "Log In" %>

  <% end %>
  <h1>Login in with facebook</h1>
  <% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>