<%=@user.name.capitalize%>'s Recipe
<br>

<h2>Recipe Name:</h2>
<%=@recipe.name%>
<br>

<h2>Ingredients for this recipe:</h2>
<%@recipe.ingredients.each do |ingredient|%>
    <li><%=ingredient.name%></li>
<%end%>

<h2>Steps</h2>
<%=@recipe.content%>
<br>
<br>


<%if @current_user.id == @user.id%>
    <%= link_to "Delete This Recipe", user_recipe_path(@recipe.user,@recipe),
    method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}"}%><br>
<%end%>

<h2>Average Rating<h2>
<%=show_average(@recipe)%>

<h2>Comments</h2>
<%=render partial: 'rating',collection: @ratings%>

<br>

<%=render partial: 'form_rating'%>
