<%=@user.name.capitalize%>'s Recipe
<br>
<h2>Recipe Name:</h2>
<%=@recipe.name%>
<br>
<h2>Ingredients for this recipe:</h2>
<%@recipe.ingredients.each do |ingredient|%>
    <li><%=ingredient.name%></li>
<%end%>
<h2>Steps</h2>
<%=@recipe.content%>
<br>
<br>
<%= link_to "Delete This Recipe", user_recipe_path(@recipe.user,@recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}"} %>
<br>
<br>

<%# might need to move this logic out of here %>
<h2>Average Rating<h2>

<%@array = []%>
<%@recipe.ratings.each do |rating|%>
    <%@array << rating.stars%>
<%end%>
<%number_of_stars = @array.count%>
<%sum_of_all_stars = @array.inject(0){|sum,x| sum + x}%>
<%=sum_of_all_stars / number_of_stars%>


<h2>Comments</h2>


<%@recipe.ratings.each do |rating|%>
    <%@user_of_comment = User.find_by(id: rating.user_id)%>
    <%=@user_of_comment.name%> says: <%=rating.comment%> <%=rating.stars%><br><br>
<%end%>
<br>
<%# <<>> %>



<%= form_for Rating.new do |f| %>

    <%=f.hidden_field :user_id, :value => @user.id%>
    <%=f.hidden_field :recipe_id, :value => @recipe.id%>
    
    <%=f.label :comment, "Enter your comment"%>
    <br>
    <%=f.text_area :comment, cols: "50", rows: "5"%>
    <br>
    <br>
    <%=f.label :stars, "Choose a rating, 1 lowest and 5 highest"%>
    <%= f.select :stars, [1,2,3,4,5]%>
    <br>
    <%=f.submit "Submit Rating and Comment"%>
<%end%>

