<%=@user.name.capitalize%>'s Recipe
<br>
<h2>Recipe Name:</h2>
<%=@recipe.name%>
<br>
<h2>Ingredients for this recipe:</h2>
<%@recipe.ingredients.each do |ingredient|%>
    <li><%=ingredient.name%></li>
<%end%>
<h2>Steps</h2>
<%=@recipe.content%>
<br>
<br>
<%= link_to "Delete This Recipe", user_recipe_path(@recipe.user,@recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}"} %>
<br>
<br>
<%@recipe.ratings.each do |rating|%>
<%# don't feel 100% about finding user in view %>
    <% @user = User.find_by(id: rating.user_id) %>
    <%=@user.name%> <%=rating.comment%> <%=rating.stars%>
<%end%>
<%= form_for Rating.new do |f| %>

    <%=f.hidden_field :user_id, :value => @user.id%>
    <%=f.hidden_field :recipe_id, :value => @recipe.id%>
    
    <%=f.label :comment, "Enter your comment"%>
    <br>
    <%=f.text_area :comment, cols: "50", rows: "5"%>
    <br>
    <br>
    <%=f.label :stars, "Choose a rating, 1 lowest and 5 highest"%>
    <%= f.select :stars, [1,2,3,4,5]%>
    <br>
    <%=f.submit "Submit Rating and Comment"%>
<%end%>